force-app/main/default/flows/Base_Station_status_inactive_or_broken.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_sensor_status_to_broken</name>
        <label>Set sensor status to broken</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_by_sensors.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_by_sensors.Base_Station__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Changed_sensors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_by_sensors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_by_sensors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sensor_status_to_inactive</name>
        <label>Set sensor status to inactive</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_by_sensors.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Changed_sensors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_by_sensors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_by_sensors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_status_of_Base_Station</name>
        <label>Check status of Base Station</label>
        <locationX>528</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_by_sensors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_by_sensors.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sensor_status_to_inactive</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check if inactive</label>
        </rules>
        <rules>
            <name>Check_if_broken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sensor_status_to_broken</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check if broken</label>
        </rules>
    </decisions>
    <interviewLabel>Base Station status inactive and broken {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Station status inactive or broken</label>
    <loops>
        <name>Loop_by_sensors</name>
        <label>Loop by sensors</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_sensors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_status_of_Base_Station</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_sensors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_sensors</name>
        <label>Get sensors</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_by_sensors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Station__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sensor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_sensors</name>
        <label>Update sensors</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputReference>Changed_sensors</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_sensors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Base_Station__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Changed_sensors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sensor__c</objectType>
    </variables>
</Flow>
